<!doctype html>
<html ng-app="ShoppingListCheckOff" lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="app.js"></script>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body >
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div ng-controller="ToBuyController" class="col-md-6" >
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="x in toBuyList">
         {{$index + 1}}. Buy {{x.quantity}} {{x.name}}
         <button class="btn btn-default"
         ng-click="addToList($index);" >
         <span class="glyphicon glyphicon-ok"></span>
         Bought</button>
       </li>
     </ul>
     <div class="emptyMessage" ng-if="toBuyList.length === 0">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div ng-controller="AlreadyBoughtController" class="col-md-6">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="x in boughtList">{{$index + 1}}. Bought {{x.quantity}} {{x.name}}</li>
     </ul>
     <div class="emptyMessage" ng-if="boughtList.length === 0">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>

