<!doctype html>
<html ng-app="app" lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="app.js"></script>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div  ng-controller="firstController" class="container">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="name">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="showRes()">Check If Too Much</button>
             <br>
             <div class="">
               <br>
               {{res}}
             </div>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
         </div>
   </div>

</body>
</html>
